# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
# next-env.d.ts

# IDE
.vscode/
.idea/

# Backup files
*.bak 

# Additional unnecessary files
/tmp_edits/
/tmp_branch_files/
/temp/
/pages_backup/
/fixed-files/
unused-images.txt
used-images.txt
missing-images.txt
renamed-images.txt
optimized-images.txt
*.zip
/~/ 
# Local Netlify folder
.netlify
